/* Product Sans Font */
@font-face {
  font-family: "Product Sans";
  src: url(assets/fonts/Product-Sans-Regular.ttf);
  font-weight: normal;
  font-display: swap;
}
@font-face {
  font-family: "Product Sans";
  src: url(assets/fonts/Product-Sans-Bold.ttf);
  font-weight: bold;
  font-display: swap;
}
